/**reset css**/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

ul li,ol li{
	list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* clearfix hack*/
.clearfix:after{
	content:"";
	visibility: hidden;
	clear:both;
	display:block;
}

/******************************************
                ORIGINAL CSS
*******************************************/

a{
    color:#3399cc;
}

#header{
    background: #ddd;
    padding: 20px;
    border-bottom: 3px solid #ccc;
}

#header h1{
    margin: 0;
}

#header h1 a{
    color:#000;
    text-decoration: none;
}

#header h1 a:hover{
    background: #bbb;
}

#nav{
    margin: 30px;
}
#nav p{
    overflow:hidden;
}
#nav p a{

    border:1px solid #ccc;
    border-radius:3px;
    display:block;
    float:left;
    box-sizing: border-box;
    padding:20px;
    margin-right:20px;
}

#main{
    margin: 0 30px;
}

#statuses{
    margin-top: 30px;
}
.status{
    padding: 10px;
    border-bottom: 2px solid #cccccc;
}